#calculator {
    display: grid;
    justify-content: left;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
}

#display {
    border: solid goldenrod;
    background-color: lightgoldenrodyellow;
    align-items: left;
    width: 295px;
    height: 20px;
    padding: 10px;
    text-align: right;
}

.number {
    background-color: bisque;
}

.opperation {
    background-color: darkgoldenrod;
}