.calculator {
    display: grid;
    justify-content: left;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
}

#display {
    border: solid black;
    align-items: left;
    width: 295px;
    height: 15px;
    padding: 10px;
    text-align: right;
}